In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/ai_detector_dataset.csv")

In [6]:
df

                                                     text  label
0       Got take-out. Very friendly staff, reasonable ...  Human
1       Love this bar! Fun crowd and the staff are all...  Human
2       After watching Whale Wars: Viking Shores, I ca...  Human
3       Kelly really wanted the new iPhone. She begged...  Human
4       Though this is the easiest way to secure a spo...  Human
...                                                   ...    ...
332227  A Face or A LifeForm\n\nMany people say that w...  Human
332228  **IELTS**  \n## Should scientific research, bu...  Human
332229  I disagree with the principle's policy to make...  Human
332230  In my option I very much disagree all student ...  Human
332231  Luke Bomberger was a man who had no idea that ...  Human

[332232 rows x 2 columns]

In [7]:
df["label"].value_counts()

label
Human    166116
AI       166116
Name: count, dtype: int64

In [4]:
df1 = df[df["label"] == "Human"]

In [5]:
df1

                                                     text  label
0       Got take-out. Very friendly staff, reasonable ...  Human
1       Love this bar! Fun crowd and the staff are all...  Human
2       After watching Whale Wars: Viking Shores, I ca...  Human
3       Kelly really wanted the new iPhone. She begged...  Human
4       Though this is the easiest way to secure a spo...  Human
...                                                   ...    ...
332227  A Face or A LifeForm\n\nMany people say that w...  Human
332228  **IELTS**  \n## Should scientific research, bu...  Human
332229  I disagree with the principle's policy to make...  Human
332230  In my option I very much disagree all student ...  Human
332231  Luke Bomberger was a man who had no idea that ...  Human

[166116 rows x 2 columns]

In [8]:
df2 = df[df["label"] == "AI"]

In [9]:
df2

                                                     text label
10382   Carly's mom had just come home from a trip. Sh...    AI
10383   James got a letter in the mail. It was his tui...    AI
10384   The historical measure of a steam engine's ene...    AI
10385   Welcome to the CSS Layout News! In this newsle...    AI
10386   First off, have you tried to read the [simplif...    AI
...                                                   ...   ...
321849  The Open Seas Beckon New Adventures\n\nGrowing...    AI
321850   The old attic was filled with dust, cobwebs a...    AI
321851  In a groundbreaking study, scientists have dis...    AI
321852  The Facial Action Coding System (FACS) is a te...    AI
321853  Apple, the tech giant known for its iPhones, i...    AI

[166116 rows x 2 columns]

In [10]:
human_text = df1.head(10000).copy()

In [11]:
human_text

                                                   text  label
0     Got take-out. Very friendly staff, reasonable ...  Human
1     Love this bar! Fun crowd and the staff are all...  Human
2     After watching Whale Wars: Viking Shores, I ca...  Human
3     Kelly really wanted the new iPhone. She begged...  Human
4     Though this is the easiest way to secure a spo...  Human
...                                                 ...    ...
9995  Beth wanted to have a new look. She went to th...  Human
9996  [title] Check for a saturated fuchsia color to...  Human
9997  Larry was at a yard sale. He found several che...  Human
9998  A few of us went here for lunch on a Friday an...  Human
9999  I stop here occasionally for convenience, but ...  Human

[10000 rows x 2 columns]

In [12]:
ai_text = df2.head(10000).copy()

In [13]:
ai_text

                                                    text label
10382  Carly's mom had just come home from a trip. Sh...    AI
10383  James got a letter in the mail. It was his tui...    AI
10384  The historical measure of a steam engine's ene...    AI
10385  Welcome to the CSS Layout News! In this newsle...    AI
10386  First off, have you tried to read the [simplif...    AI
...                                                  ...   ...
20377  Spaces is a startup with a team that specializ...    AI
20378  I was working at am plant for a temp agency. I...    AI
20379  is preparing himself to lift weigh and stands ...    AI
20380  I grew up knowing I wasn't quite right. I was ...    AI
20381  "Normal" (adj.) Conforming to the standard or ...    AI

[10000 rows x 2 columns]

In [18]:
human_vs_ai_text_data = pd.concat((human_text, ai_text), axis=0)

In [19]:
human_vs_ai_text_data

                                                    text  label
0      Got take-out. Very friendly staff, reasonable ...  Human
1      Love this bar! Fun crowd and the staff are all...  Human
2      After watching Whale Wars: Viking Shores, I ca...  Human
3      Kelly really wanted the new iPhone. She begged...  Human
4      Though this is the easiest way to secure a spo...  Human
...                                                  ...    ...
20377  Spaces is a startup with a team that specializ...     AI
20378  I was working at am plant for a temp agency. I...     AI
20379  is preparing himself to lift weigh and stands ...     AI
20380  I grew up knowing I wasn't quite right. I was ...     AI
20381  "Normal" (adj.) Conforming to the standard or ...     AI

[20000 rows x 2 columns]

In [21]:
human_vs_ai_text_data.to_csv('../Data/ai and human generated text data.csv', index=False)